<nav style="background-color:#660000 " class="navbar navbar-expand-lg">
  <div class="navbar-header">
    <a class="navbar-brand" href="https://www.kln.ac.lk/"><img src="/assets/images/UOK.png" alt="University of Kelaniya">
    </a>
  </div>

<ul class="nav nav-pills">
  <div>
      <h3 style="text-decoration-color: black">Transport Division</h3>
      <h4>University of Kelaniya</h4>
  </div>
  
        <li class="nav-item">
        <a class="nav-link active" href="#">Reservations</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Vehicles</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Drivers</a>
        </li>
      </ul>
      <div class="btn float-right">
          <button type="button" class="btn btn-primary">Right Align Button</button>
      </div>

</nav>
