<app-navBar></app-navBar>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Departments">
      <div style="margin-top: 100px">
        <!-- <app-departments-table></app-departments-table> -->
        <app-department-all></app-department-all>
        </div>
    </mat-tab>
    <mat-tab label="Faculties">
      <div style="margin-top: 100px">
        <!-- <app-faculty-table></app-faculty-table> -->
        <app-faculty-all></app-faculty-all>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Deputy Vice Chancellor">
      <div style="margin-top: 100px">
        <app-faculty-table></app-faculty-table> 
        <app-faculty-all></app-faculty-all>
      </div>
    </mat-tab> -->
  </mat-tab-group>